.alert{
    font-family: Arial , sans-serif;
    padding: 1.188rem;
    margin: 1.25rem 0;
    border-radius: 10px;

    &--info{
        background-color: $info_bg;
        color: $info_color;
            & a{
                color:inherit;
                font-style: italic;
            }
    }
    &--danger{
        background-color: $danger_bg;
        color: $danger_color;
         & a{
                color:inherit;
                font-style: italic;
                font-weight: bold;
            }
    }
}
